<footer>
    <div>
        <a href="https://overwall.org">Home</a> |
        <a href="https://console.overwall.org">Portal</a> |
        <a href="https://docs.overwall.org">Docs</a> |
        <a href="https://status.overwall.org">Status</a>
    </div>
    <br>
    <div id="copyright" class="grid-footer container grid-lg">©
        <span year></span>
        <a href="https://overwall.org" target="_blank">CloudHammer</a>
    </div>
</footer>
<script>var copyrightNow = (new Date).getFullYear(), textContent = document.querySelector("span[year]"); copyrightSince = 2017, textContent.textContent = copyrightSince === copyrightNow ? copyrightNow : copyrightSince + " - " + copyrightNow</script>