<!DOCTYPE html>
<html lang="zh">

<head>
    <title>{{ page.title }} | {{ site.name }}</title>
    {% include head.html %}
</head>

<body>
    <header class="header header-home" role="banner">
        {% include header.html %}
        <div class="header-content">
            <div class="container yue">
                <h3 style="color: white">CloudHammer Open Source</h3>
            </div>
            <div class="container">
                <br>
                <a class="button" href="https://github.com/CloudHammer">GitHub</a>
                <br>
                <br>
            </div>
        </div>
    </header>
    <div class="content" role="main">
        <div class="container yue">
            {{ content }}
        </div>
    </div>

    {% include footer.html %}
</body>

</html>